body {
  padding-left: 55px;
  background: url("file:images/paint_brain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  -webkit-padding-start: 0px;
}

li {
  list-style-type: none;
  border-bottom: 1px solid #e1e8ed;
  height: 60px;

}

.main {
  margin-top: 7px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 590px;
}

.mainHeader {
  min-height: 20px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 5px 5px 5px 5px;
}

.showing {
  font-size: 13px;
  padding: 10px 1px;
  cursor: pointer;
  text-align: center;
  background-color: #f5f8fa;
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
}


.contentHead {
  border: 1px solid #e1e8ed;
  border-radius: 6px 6px 0 0;
}

.tweetContainer {
  background-clip: padding-box;
}

.innerHead {
  min-height: 20px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 5px 5px 0 0;

}

h2 {
  color: #66757f;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

/* Tweet Cards */

.user {
  text-align: left;
}

/* Profile Card */

.profile {
  float: left;
  width: 290px;
}

.profileCard {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px;
  margin-top: 7px;

}

.topPic {
  background: url("file:images/twitter_header.jpg");
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 95px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  padding: 0 1px;
}

.selfie {
  border-radius: 5px;
  height: 70px;
  width: 70px;
  margin: -30px 0 0 8px;
}


.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-left: 85px;
}

.tweetBox {
  background-color: #eaf8fd;
  border: 1px solid;
  border-color: #cbeffb;
  padding: 12px;
  width: 259px;
}

input {
  width: 225px;
}

.submit {
  margin-top: 10px;
}